input, button, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.file-upload-wrapper {
	position: relative;
}

.file-upload-button {
	display: flex;
    align-items: center;
    background: #F1F1F1;
    padding: 7px 15px;
    position: absolute;
    top: .5px;
    right: 1px;
    border-radius: 3px;
    border: 0px;
    border-left: 0px;
    cursor: pointer;
}

.file-upload-button img {
	width: 20px;
	margin-right: 10px;
}

.master-form-group {
    padding: 8px 0px;
}



.master-form-group label {
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    display: block;
    padding: 0px 0px 5px;
}

.master-form-group input, .master-form-group select {
    outline: none !important;
    padding: 8px 14px;
    width: 100%;
    border: 1px solid #d9d9d9;
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 1px 0px 10px transparent;
    transition: box-shadow .5s;
    background: #ffffff;
}

.master-form-group select {
	color: #cccccc;
	background: url(../images/select.svg) no-repeat;
	background-position: 95%;
	background-size: 20px;
}

.master-form-group select.changeval {
	color: #333333;
	background: url(../images/select-active.svg) no-repeat;
	background-position: 95%;
	background-size: 20px;
}

.master-form-group select option:not(:first-of-type) {
	color: #666666;
  }

.master-form-group input::placeholder {
    color: #cccccc;
    font-weight: 500;
}


.master-form-group input:focus, .master-form-group select:focus{
    border: 1px solid#7D80DA;
}

.master-cta {
    background: #7D80DA;
    padding: 18px 16px;
    min-width: 250px;
    display: inline-block;
    border-radius: 50px;
    border: 0px;
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

/* DatePicker Container */
.ui-datepicker {
	height: auto;
	margin:-2px auto 0;
	font:16px interstate;
	color:#7e7e7e;
	z-index: 9999999 !important;
	border-radius: 0 0 5px 5px;
	background:#f7f7f7;
	padding:5px;
	border: 1px solid #d6d6d6;
	width: 325px;
	display: none;
	transition: all 100ms ease 0.05s;
}
.ui-datepicker a {
	text-decoration: none;
}
/* DatePicker Table */
.ui-datepicker table {
	width: 100%;
}
.ui-datepicker-header {
	line-height: 30px;
	overflow: hidden;
	margin:5px 0;
}
.ui-datepicker-title {
	text-align: center;
	margin: 0 24px 0 24px;
}
.ui-datepicker-title .ui-datepicker-month,.ui-datepicker-title  .ui-datepicker-year{
	margin:0 5px;
   /* padding:2px 4px 2px 4px;*/
	color:#333;
	/* border:1px solid #ccc; */
	outline:none;
	border-radius:0;
	font-size:14px;
	font-family: 'interstate';
	width: 68px;
    height: 25px;
}
/* .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {font-family:interstateregular;color:red;} */
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('/views/cpc/images/icons/arrow.png');
	background-repeat: no-repeat;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker-prev.ui-state-disabled, .ui-datepicker-next.ui-state-disabled {
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
}
.ui-datepicker-prev.ui-state-disabled{
	background-image: url('/views/cpc/images/icons/arrow.png');cursor:default;
	opacity:0.3;
}
.ui-datepicker-next.ui-state-disabled {
	background-image: url('/views/cpc/images/icons/arrow.png');cursor:default;
	opacity:0.3;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -90px;
}
.ui-datepicker-next {
	float: right;
	background-position: center -60px;
}

.ui-datepicker th {
	text-transform: uppercase;
	padding: 5px 0;
	font-size:14px;
}
.ui-datepicker tbody td {
	padding: 0;
	text-align:center;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}

.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	margin:5px;
	width:33px;
	line-height:29px;
	color: #7d80da;
}
.ui-datepicker-calendar .ui-state-default {
	border:1px solid #f7f7f7;
	border-radius:5px;
}
.ui-datepicker-calendar .ui-state-hover {
	border:1px solid #7d80da;
}
.ui-datepicker-calendar .ui-state-highlight {
	background: #7d80da;
	color:#FFF;
	border: 1px solid #7d80da;
	position: relative;
	margin: -1px;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height:30px;
	margin-bottom: 0;
}
#ui-datepicker-close{
	position: absolute;
	width: 24px;
	right: -11px;
	height: 27px;
	top: -14px;
	cursor:pointer;
}
#ui-datepicker-div {z-index: 2000;}


@media (max-width : 567px){
    .ui-datepicker {
        width: 300px !important;
    }

    .ui-datepicker td span, .ui-datepicker td a {
        width: 30px;
        height: 30px;
    }
}