.master-header {
    background: #343840;
    padding: 8px 15px;
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
}

.master-header-col {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.master-header-web {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
}

.master-header-notification {
    color: #f9c22e;
    position: relative;
    top: 6px;
    cursor: pointer;
}

.master-header-notification svg {
    width: 30px;
}

.master-header-profile {
    cursor: pointer;
}

.master-header-profile span {
    background: #f9c22e;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 5px;
    border-radius: 100%;
    line-height: 35px;
    cursor: pointer;
    color: #343840;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 600;    
    display: inline-block;
}

.master-header-profile svg {
    position: absolute;
    width: 20px;
    top: 13px;
    right: 0;
    color: #f9c22e;
}

.master-content {
    display: flex;
}

.master-menu {
    width: 260px;
    height: calc(100vh - 65px);
    position: fixed;
    /* box-shadow: 1px 1px 24px #eeeeee; */
    top: 65px;
    z-index: 9;
    background: #f15946;
}

.master-menu-list ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 14px;
    border-left: 5px solid transparent;
    background-color: transparent;
    transition: all .5s;
    border-bottom: 1px solid #ca4737;
    display: flex;
    align-items: center;
}

.master-menu-list ul li a svg {
    margin-right: 10px;
    width: 20px;
}

.master-menu-list ul li a:hover{
    color: #f15946;
    border-left: 5px solid #f15946;
    background-color: #343840;
}

.master-wall {
    position: relative;
    padding: 85px 15px 50px 280px;
    width: 100%;
}

.master-wall-inner {
    background: #ffffff;
    box-shadow: 1px 1px 15px #eeeeee;
    border-radius: 5px;
}

.master-page-title {
    background: #999999;;
    padding: 15px 15px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    margin: 0px 0px 24px;
}

.master-form-title {
    font-size: 18px;
    color: #f15946;
    background: #fff9f9;
    padding: 10px 10px;
    font-weight: 600;
}

.master-form-col {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #ffffff;
    padding: 10px 0px;
}

.master-form-col-inner {
    flex: 0 1 25%;
    padding: 0px 15px;
}

.master-form-col-split {
    display: flex;
}

.master-form-col-sm {
    width: 35%;
    padding-right: 10px;
}

.master-form-col-lg {
    width: 65%;
}

.mobile-menu {
    display: none;
}

.mobile-menu .menu-close {
    display: none;
}

.master-logo {
    display: inline-block;
    color: #f9c22e;
    font-weight: 900;
    font-size: 36px;
}



/* Rooms */

.master-rooms {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.master-rooms-col {
    flex: 0 1 20%;
    padding: 20px 15px;
}

.master-rooms-web {
    position: relative;
    max-width: 275px;
}

.master-rooms-web .master-rooms-web-count {
    width: 60px;
    height: 60px;
    background: #343840;
    color: #eeeeee;
    font-size: 16px;
    font-weight: 700;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    margin: auto;
    top: -10px;
    position: relative;
}

.master-rooms-web-count::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 96%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #343840;
    clear: both;
}

.master-rooms-check {
    color: #ffffff;
    padding: 25px 15px 25px 15px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px #000;
    text-transform: uppercase;
    text-align: center;
}

/* 343840-e22e5f-f15946-f9c22e-4453a7 */

.master-rooms-available .master-rooms-check{
    background: #343840;
}
.master-rooms-blocked .master-rooms-check{
    background: #e22e5f;
}
.master-rooms-occupied .master-rooms-check{
    background: #f15946;
}
.master-rooms-unclean .master-rooms-check{
    background: #f9c22e;
}
.master-rooms-maintance .master-rooms-check{
    background: #4453a7;
}

/* Rooms */


@media(max-width : 1366px){
    .master-form-col-inner {
        flex: 0 1 33%;
        padding: 0px 15px;
    }
}

@media(max-width : 1279px){
    .master-form-col-inner {
        flex: 0 1 33%;
        padding: 0px 15px;
    }

    .mobile-menu {
        display: inline-flex;
        border-radius: 100%;
        padding: 0px 10px 0px 0px;
        cursor: pointer;
        color: #ffffff;
    }

    .mobile-menu.active .menu-open{
        display: none;
    }

    .mobile-menu.active .menu-close{
        display: inline-block;
    }
    

    .master-menu{
        left: -260px;
        transition: left .5s;
    }

    .master-menu.active {
        left: 0;
    }

    .master-wall{
        padding: 105px 0px 50px 0px;
    }
WWW
    .master-rooms-col {
        flex: 0 1 33%;
    }
    
}

@media(max-width : 767px){

    .master-menu{
        top: 55px;
    }

    .master-form-col-inner {
        flex: 0 1 50%;
        padding: 0px 15px;
    }

    .master-wall {
        padding: 57px 0px 50px 0px;
    }
    

    .master-rooms-col {
        flex: 0 1 50%;
    }
}

@media(max-width : 567px){

    .master-header{
        padding: 14px 15px;
    }

    .master-logo {
        font-size: 23px;
    }

    .master-form-col-inner {
        flex: 0 1 100%;
        padding: 0px 15px;
    }

    .master-rooms-col {
        flex: 0 1 50%;
    }

    .master-rooms-web{
        max-width: 100%;
    }
}