*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: Nunito,sans-serif;
    letter-spacing: 0.5px;
}

.text-center {
    text-align: center;
}



/* DatePicker Container */
.ui-datepicker {
	height: auto;
	margin:-2px auto 0;
	font:16px interstate;
	color:#7e7e7e;
	z-index: 9999999 !important;
	border-radius: 0 0 5px 5px;
	background:#f7f7f7;
	padding:5px;
	border: 1px solid #d6d6d6;
	width: 325px;
	display: none;
	transition: all 100ms ease 0.05s;
}
.ui-datepicker a {
	text-decoration: none;
}
/* DatePicker Table */
.ui-datepicker table {
	width: 100%;
}
.ui-datepicker-header {
	line-height: 30px;
	overflow: hidden;
	margin:5px 0;
}
.ui-datepicker-title {
	text-align: center;
	margin: 0 24px 0 24px;
}
.ui-datepicker-title .ui-datepicker-month,.ui-datepicker-title  .ui-datepicker-year{
	margin:0 5px;
   /* padding:2px 4px 2px 4px;*/
	color:#333;
	/* border:1px solid #ccc; */
	outline:none;
	border-radius:0;
	font-size:14px;
	font-family: 'interstate';
	width: 68px;
    height: 25px;
}
/* .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {font-family:interstateregular;color:red;} */
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('/views/cpc/images/icons/arrow.png');
	background-repeat: no-repeat;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker-prev.ui-state-disabled, .ui-datepicker-next.ui-state-disabled {
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
}
.ui-datepicker-prev.ui-state-disabled{
	background-image: url('/views/cpc/images/icons/arrow.png');cursor:default;
	opacity:0.3;
}
.ui-datepicker-next.ui-state-disabled {
	background-image: url('/views/cpc/images/icons/arrow.png');cursor:default;
	opacity:0.3;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -90px;
}
.ui-datepicker-next {
	float: right;
	background-position: center -60px;
}

.ui-datepicker th {
	text-transform: uppercase;
	padding: 5px 0;
	font-size:14px;
}
.ui-datepicker tbody td {
	padding: 0;
	text-align:center;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}

.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	margin:5px;
	width:33px;
	line-height:29px;
	color: #7d80da;
}
.ui-datepicker-calendar .ui-state-default {
	border:1px solid #f7f7f7;
	border-radius:5px;
}
.ui-datepicker-calendar .ui-state-hover {
	border:1px solid #7d80da;
}
.ui-datepicker-calendar .ui-state-highlight {
	background: #7d80da;
	color:#FFF;
	border: 1px solid #7d80da;
	position: relative;
	margin: -1px;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height:30px;
	margin-bottom: 0;
}
#ui-datepicker-close{
	position: absolute;
	width: 24px;
	right: -11px;
	height: 27px;
	top: -14px;
	cursor:pointer;
}
#ui-datepicker-div {z-index: 2000;}


.master-popup-main {
	background: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    height: 100%;
	z-index: 999;
	display: none;
}

.master-popup {
	width: 65%;
	margin: auto;
	background-color: #ffffff;
	top: 10%;
	position: relative;
}

.master-popup-main h2 {
	background-color: #e22e5f;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 15px;
	color: #ffffff;
}

.master-popup-close {
	position: absolute;
    right: 15px;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    top: 10px;
    cursor: pointer;
}

.master-popup-main table tr td {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 600;
}

.master-popup-main table tr td:first-child{
	width: 25%;
}

.master-popup-main table tr td:nth-child(2){
	width: 5%;
}

.master-popup-main table tr td:last-child{
	width: 70%;
}

.master-popup-scroll {
	height: 60vh;
	overflow: auto;
}

.master-popup-main table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.master-report-table table tr:nth-child(odd) {
    background-color: #fbc9c3;
}

@media (max-width : 1024px){
	.master-popup {
		width: 80%;
		top: 5%;
	}

	.master-popup-scroll {
		height: 85vh;
		overflow: auto;
	}
}


@media (max-width : 567px){

	.master-popup {
		width: 95%;
	}

    .ui-datepicker {
        width: 300px !important;
    }

    .ui-datepicker td span, .ui-datepicker td a {
        width: 30px;
        height: 30px;
    }
}